@font-face {
    font-family: 'neodgm';
    src: url(../fonts/neodgm.woff) format('opentype');
}

*{
    cursor: url(../images/feather.png), auto;
}

body{
    font-family: 'neodgm';
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

button{
    background-color: transparent;
    border: 0;
    cursor: url(../images/feather2.png), auto;
    position: relative;
}

input[type="radio"]{
    cursor: url(../images/feather2.png), auto;
    position: relative;
}

