@font-face {
    font-family: 'neodgm';
    src: url(../fonts/neodgm.woff) format('opentype');
}

html{
    cursor: url(../images/feather.png), auto;
}

body{
    font-family: 'neodgm';
}
button{
    cursor: url(../images/feather2.png), auto;
    background-color: transparent;
    border: 0;
}


