body{
    background-size: cover;
}

.profile{
    font-size: 1.8rem;
    margin: 0.4em 0em 0em 6em;
}

.pnBtn {
    float: right;
}

button{
    font-size: 1.2rem;
}

.detailProfile{
    font-size: 1.35rem;
}

.explain{
    border: 0.1em solid black;
    width: 5em;
    height: 5em;
}