body{
    background-size: cover;
}

.profile{
    font-size: 1.8rem;
    margin: 0.4em 0em 0em 6em;
}

.pnBtn {
    float: right;
}

button{
    font-size: 1.2rem;
}

.detailProfile{
    font-size: 1.35rem;
}

.explain{
    border: 0.1em solid black;
    width: 12em;
    height: 14em;
    margin-top: 0.8em;
    margin-left: -5.6em;
    padding: 3% 3% 3% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.explainTxt{
    font-size: 1rem;
}