
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    background-color: hotpink;
}

input[type="checkbox"] {
    cursor: url(../images/feather.png), auto;
    position: relative;
    top: 2em;
}

