
img{
    width: 100%;
    height: 100%;
}

.container{
    position: absolute;
    bottom: 0;
}

.dialogueWindow{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    font-size: 1.5rem;
    width: 90vw;
    height: 10em;
    margin: auto 5%;
    position: relative;
    z-index: 2;
    flex-direction: column;
}

.nameWindow{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: aliceblue;
    margin: auto 5%;
    width: 200px;
    height: 3em;
    position: relative;
    z-index: 3;
}

.select1, .select2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: aliceblue;
    width: 300px;
    height: 2em;
    position: relative;
    margin-top: 0.8em;
    z-index: 3;
}

.selectContainer{
    display: flex;
    margin-top: 5vh;
    gap: 10vh;
}

.button {
    width: 100%;
    align-items: flex-end;
    margin-right: 5%;
    position: relative;
}

.button > button {
    float: right;
}
.character{
    max-height: 40vw;
    overflow: hidden;
    margin-bottom: -200px;
    position: relative;
    z-index: 1;

}

.imgCharacter{
    width: 30%;
    float: right;
}

.phone{
    width: 9em;
    height: auto;
    margin-top: 1.5em;
}

